* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f1f1f1;
}

.contenedor {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b5999;
}

.login-contenedor {
  display: flex;
  width: 650px;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.registro,
.login {
  flex: 1;
}

.registro {
  padding: 40px;
  position: relative;
}

.registro h2 {
  color: #797979;
  margin-bottom: 30px;
}

.registro input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.registro input:active,
.registro input:focus {
  outline: none;
}

.registro .submit {
  width: auto;
  padding: 10px;
  background: #607274;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.registro::after {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -23px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  color: #7c7c7c;
}

.login {
  background-image: linear-gradient(to bottom right, #c0c086, #ffe17b);
  padding: 40px;
}

.login h2 {
  color: #fff;
  margin-bottom: 45px;
}

.login button i {
  position: absolute;
  top: 12px;
  left: 12px;
}

.login button {
  width: 100%;
  margin: 15px 0px;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.login .fb {
  background: #3b5999;
  border-style: none;
  border-radius: 10px;
  color: #fff;
}

.login .tw {
  background: #55acef;
  border-style: none;
  border-radius: 10px;
  color: #fff;
}

.login .correo {
  background: #88b87f;
  border-style: none;
  border-radius: 10px;
  color: #fff;
}

@media only screen and (max-width: 540px) {
  .login-contenedor {
    display: block;
  }

  .registro,
  .login {
    flex: none;
  }

  .registro::after {
    top: unset;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}
